@tailwind base;
@tailwind components;
@tailwind utilities;
@import "aos/dist/aos.css";

body {
  @apply bg-gray-100 text-gray-900;
}
a {
  @apply text-blue-600 hover:text-blue-800;
}
/* Smooth dark/light mode transition */
html {
  transition: background-color 0.5s ease, color 0.5s ease;
}

body, section, header, footer, div, p, h1, h2, h3, h4, h5, h6 {
  transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}
